# Core Testing Framework
pytest==8.3.5 
pytest-bdd==8.1.0 
# Browser Automation 
playwright==1.48.0 
pytest-playwright==0.7.2 
# Reporting 
allure-pytest==2.13.2  
pytest-metadata==3.1.1 
pytest-html==3.2.0
# Parallel Execution 
pytest-xdist==3.8.0 
# Utilities 
pytest-base-url==2.1.0 
openpyxl==3.1.2 
python-dotenv==1.0.1